{% extends 'homebase.html' %}
{% load i18n %}
{% block title %} About Us- {{ setting.title }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}

{% block sidebar %} {% include 'sidebar.html' %} {% endblock %}

{% block body %}

	<!-- BREADCRUMB -->
	<div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
                <li><a href="{% url 'home' %}">{% trans "Anasayfa" %}</a></li>
                <li class="active">{% trans "HAKKIMIZDA" %}</li>
			</ul>
		</div>
	</div>
	<!-- /BREADCRUMB -->

	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
               <p>Merhaba!

				Biz, E-shop, dijital dünyada benzersiz bir alışveriş deneyimi sunmak amacıyla yola çıktık. 2024 yılında kurulan firmamız, siz değerli müşterilerimize en kaliteli ürünleri en uygun fiyatlarla ulaştırmayı hedeflemektedir.
				
				Vizyonumuz
				
				Müşteri memnuniyetini her şeyin üzerinde tutan bir anlayışla, sektörde öncü olmayı amaçlıyoruz. Sadece ürün satmakla kalmayıp, aynı zamanda sizlere özel bir alışveriş deneyimi sunmayı hedefliyoruz.
				
				Misyonumuz
				
				Her anınızı özel kılan ürünleri ve çözümleri sizlere sunarak, hayatınızı kolaylaştırmak istiyoruz. Sürdürülebilirlik, güvenilirlik ve yenilikçilik ilke edinmiş bir ekip olarak, sizlere güvenli ve keyifli alışverişin kapılarını aralıyoruz.
				
				Neden Bizi Tercih Etmelisiniz?
				
				Geniş ürün yelpazesi ve her bütçeye uygun seçenekler.
				Hızlı ve güvenilir kargo hizmeti.
				Profesyonel müşteri destek ekibi.
				Sizleri aramızda görmekten mutluluk duyacağımızı belirtmek isteriz. E-SHOP, kaliteli alışverişin adresi!
				
				Teşekkür ederiz,
				E-SHOP Ekibi</p>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->

{% endblock %}