<div class="billing-details">
    <div class="section-title">
        <h3 class="title">Kullanıcı Paneli</h3>
    </div>
    <div class="aside">
    <ul class="list-links">
        <li><a href="/user">Kullanıcı Profili</a></li>
        <li><a href="/user/orders">Siparişlerim</a></li>
        <li><a href="/user/orders_product">Sipariş verilen ürünlerim</a></li>
        <li><a href="/user/comments">Yorumlarım</a></li>
        <li><a href="/user/favorits">Favorilerim</a></li>
        <li><a href="/user/products">Ürünlerim</a></li>
        <li><a href="/logout">Çıkış</a></li>
    </ul>
</div>
</div>